In [139]:
import pandas as pd

In [142]:
rotation = pd.read_csv("/home/kmuvcl/source/CuTi/output/{cuti_matterport}/matterport_test/gt_rotation_magnitude_vs_error.csv")

In [143]:
rotation

             gt      error
0      45.93768   80.54583
1     153.70143  166.57883
2      49.19945   92.54064
3      55.30919    5.97135
4      39.19428  144.25634
...         ...        ...
7991  119.15277   49.30335
7992  127.06060   63.82082
7993    4.72945   14.18174
7994  134.30828   79.97058
7995    9.46178    6.22281

[7996 rows x 2 columns]

In [187]:
min = 999999
for i in range (7996):
    if rotation['error'][i] <min:
        min = rotation['error'][i]
        print(i)

0
3
20
38
142
197
552
591
730
980
1930

In [164]:
rotation['error'][11]

166.69445

In [165]:
sum = 0
for i in range(7996):
    sum += rotation['error'][i]

In [166]:
sum/7995

58.537557969981194

In [167]:
import cv2
from tqdm import tqdm
import numpy as np
import torch
import lietorch
import os
import glob
import time
import yaml
import argparse

import torch 
import torchvision
import torchvision.models as models
import torch.nn as nn
import torch.nn.functional as F


from collections import OrderedDict
import pickle
import json

from lietorch import SE3

In [168]:
with open(os.path.join('/home/kmuvcl/source/CuTi/matterport', 'mp3d_planercnn_json/cached_set_test.json')) as f:
    test_split = json.load(f)

In [169]:
dset = test_split

In [170]:
image_path = []
for i in tqdm(range(len(dset['data']))):
    images = []
    for imgnum in ['0', '1']:
        img_name = os.path.join('/home/kmuvcl/source/CuTi/matterport', '/'.join(str(dset['data'][i][imgnum]['file_name']).split('/')[6:]))
        images.append(img_name)
        image_path.append(images)

100%|██████████| 7996/7996 [00:00<00:00, 311662.17it/s]

In [171]:
image_path[11]

['/home/kmuvcl/source/CuTi/matterport/rgb/2t7WUuJeko7/0_0_2.png',
 '/home/kmuvcl/source/CuTi/matterport/rgb/2t7WUuJeko7/0_0_42.png']

In [190]:
k = 1930
print(image_path[k])
print(rotation['gt'][k])
print(rotation['error'][k])

['/home/kmuvcl/source/CuTi/matterport/rgb/5ZKStnWn8Zo/1_8_0.png', '/home/kmuvcl/source/CuTi/matterport/rgb/5ZKStnWn8Zo/1_8_16.png']
3.28019
0.0405

In [191]:
path = "/home/kmuvcl/source/CuTi/output/{cuti_matterport}/matterport_test/gt_translation_magnitude_vs_error.csv"

In [192]:
translation = pd.read_csv(path)

In [193]:
translation

           gt    error
0     2.52993  1.77624
1     2.56524  2.82192
2     1.60267  2.46138
3     2.00234  2.18873
4     4.89586  4.64310
...       ...      ...
7991  2.32336  1.60746
7992  2.83980  2.00807
7993  1.93534  0.78131
7994  3.59114  2.74775
7995  0.86106  1.20731

[7996 rows x 2 columns]

In [210]:
for i in range(7996):
    if(translation['error'][i]<0.08):
        print(i)

437
4303
4681
5950

In [213]:
k = 4681
print(image_path[k])
print(translation['gt'][k])
print(translation['error'][k])

['/home/kmuvcl/source/CuTi/matterport/rgb/pa4otMbVnkk/1_1_381.png', '/home/kmuvcl/source/CuTi/matterport/rgb/pa4otMbVnkk/1_1_410.png']
0.54816
0.03968